<div class="container">
  <!--Life-->
  <span class="life-container" ng-repeat="life in lifes track by $index">
    <i class="fa fa-{{life}}"></i>
  </span>
  <div ng-controller="timerCtrl">{{counter}}</div>
  <!--End life-->

  <h3>Press the color</h3>
  <span class="colorX" style="color: {{colorChoosenStyle}}">{{chooseColor}}</span>
  <div class="color-scheme" ng-repeat="color in bricks track by color.name" >
    <div class="col-xs-4">
      <div ng-click="clickColor(color.name)" class="color-box" style="background-color: {{color.bg}}" ></div>
    </div>
  </div>
  <h1>{{points}}</h1>
</div>
